* {
    box-sizing: border-box;
  }

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 225, 58);
  }

.visually-hidden {
  position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.round {
    border: none;
    border-radius: 5px;
}

.logo {
    color: rgb(63, 63, 63);
    text-align: center;
    font-weight: 2000;
}

::placeholder {
    color: rgb(151, 151, 151);
}

.search-bookmarks {
    display: inline-block;
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-left: 26%;
    padding-left: 5px;
}

.add-bookmark {
    background-color: rgb(63, 63, 63);
    color: white;
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    vertical-align: 8px;
    cursor: pointer;
}

.sort-box {
    display: inline-block;
    background-color: rgb(63, 63, 63);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 10px;
    margin-top: 30px;
    font-size: 0.8em;
}

.bookmark-list {
    display: inline-block;
    margin-top: 30px;
    color: white;
}

.add-bookmark-box {
    background-color: rgb(63, 63, 63);
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 0.8em;
}

.title-of-new-bookmark {
    margin: 5px;
}

.url-of-new-bookmark {
    margin: 5px;
}

.desc-of-new-bookmark {
    width: 100%;
    margin: 5px;
}

.cancel-add-btn {
    margin-left: 35%;
    background-color: rgb(255, 225, 58);
}

.add-bookmark-btn {
    background-color:  rgb(255, 225, 58);
}

.bookmark-element {
    background-color: rgb(63, 63, 63); 
    padding: 10px;
    margin-left: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.bookmark-title {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
}

.bookmark-rating {
    position: absolute;
    right: 5px;
    display: inline-block;
}

.bookmark-description {
    margin-bottom: 5px;
}

.cancel-btn {
    background-color:  rgb(255, 225, 58);
    margin-left: 75%;
    margin: none;
}

.delete-btn {
    background-color:  rgb(255, 225, 58);
    margin: none;
}

a {
    color: rgb(255, 225, 58);
}

a:hover {
    color: white;
}